click
colorama
Flask
Flask-Login
Flask-MySQL
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
PyMySQL
SQLAlchemy
Werkzeug
WTForms
flask_mail
Flask_bcrypt
email_validator
python-dotenv
pathlib2
Flask_MySQLdb